In [1]:
from bs4 import BeautifulSoup

In [75]:
months = ["october", "november", "december", "january", "february", "march"]
special_case = "april"
playoffs = ["may", "june"]
first_year = 1983
header_link = 'https://www.basketball-reference.com'
links = []

In [11]:
for year in range(1983, 2020):
    for month in months:
        links.append(f'https://www.basketball-reference.com/leagues/NBA_{year}_games-{month}.html')

In [12]:
print(links[-20])

https://www.basketball-reference.com/leagues/NBA_2016_games-february.html

In [13]:
import html5lib
from urllib.request import urlopen
from bs4 import BeautifulSoup
import pandas as pd

In [51]:
url = urlopen(str(links[-20]))

In [55]:
soup = BeautifulSoup(url, "html5lib")
rows = soup.findAll('tr')

IndexError: list index out of range

In [79]:
# link = rows[1].findAll('a')
# link = link[3]
# print(link['href'])
# link = header_link + str(link['href'])
# print(link)

/boxscores/201602010IND.html
https://www.basketball-reference.com/boxscores/201602010IND.html

In [100]:
headers = [th.getText() for th in rows[0].findAll('th')]
headers[-4] = 'Links'
headers[-2] = 'Attendance'
del headers[-1]
del headers[-2]
print(headers)
# print(rows[0])
# print(len(rows))
game_data = [[td.getText() for td in rows[i].findAll('td')] for i in range(1, len(rows))]
dates = [[th.getText() for th in rows[i].findAll('th')] for i in range(1, len(rows))]
links = [rows[i].findAll('a')[3] for i in range(1, len(rows))]
links = [(header_link + link['href'])for link in links]
for i in range(len(game_data)):
    game_data[i][-4] = links[i]
    game_data[i] = dates[i] + game_data[i]
    del game_data[i][-1]
    del game_data[i][-2]

['Date', 'Start (ET)', 'Visitor/Neutral', 'PTS', 'Home/Neutral', 'PTS', 'Links', 'Attendance']

In [101]:
df = pd.DataFrame(game_data, columns=headers)

In [102]:
df.head()

,Date,Start (ET),Visitor/Neutral,PTS,Home/Neutral,PTS,Links,Attendance
0,"Mon, Feb 1, 2016",7:00p,Cleveland Cavaliers,111,Indiana Pacers,106,https://www.basketball-reference.com/boxscores...,"17,283"
1,"Mon, Feb 1, 2016",7:30p,Detroit Pistons,105,Brooklyn Nets,100,https://www.basketball-reference.com/boxscores...,"13,290"
2,"Mon, Feb 1, 2016",8:00p,Dallas Mavericks,97,Atlanta Hawks,112,https://www.basketball-reference.com/boxscores...,"15,455"
3,"Mon, Feb 1, 2016",8:00p,Memphis Grizzlies,110,New Orleans Pelicans,95,https://www.basketball-reference.com/boxscores...,"15,210"
4,"Mon, Feb 1, 2016",8:00p,Washington Wizards,98,Oklahoma City Thunder,114,https://www.basketball-reference.com/boxscores...,"18,203"

In [103]:
df.tail()

,Date,Start (ET),Visitor/Neutral,PTS,Home/Neutral,PTS,Links,Attendance
166,"Mon, Feb 29, 2016",7:30p,Utah Jazz,95,Boston Celtics,100,https://www.basketball-reference.com/boxscores...,"17,680"
167,"Mon, Feb 29, 2016",8:00p,Houston Rockets,121,Milwaukee Bucks,128,https://www.basketball-reference.com/boxscores...,"13,214"
168,"Mon, Feb 29, 2016",9:00p,Memphis Grizzlies,103,Denver Nuggets,96,https://www.basketball-reference.com/boxscores...,"10,324"
169,"Mon, Feb 29, 2016",10:00p,Oklahoma City Thunder,131,Sacramento Kings,116,https://www.basketball-reference.com/boxscores...,"17,317"
170,"Mon, Feb 29, 2016",10:30p,Brooklyn Nets,95,Los Angeles Clippers,105,https://www.basketball-reference.com/boxscores...,"19,060"

In [108]:
# all_box-CLE-game-basic
# all_box-IND-game-basic
game = df['Links'][0]
# print(type(game))

<class 'str'>

In [109]:
url = urlopen(game)
soup = BeautifulSoup(url, "html5lib")

In [114]:
visitor = soup.find(id="all_box-CLE-game-basic")
home = soup.find(id="all_box-IND-game-basic")

In [194]:
vis_rows = visitor.findAll('tr')
headers = [header.getText() for header in vis_rows[1].findAll('th')]
headers[0] = 'Name'
print(headers)

['Name', 'MP', 'FG', 'FGA', 'FG%', '3P', '3PA', '3P%', 'FT', 'FTA', 'FT%', 'ORB', 'DRB', 'TRB', 'AST', 'STL', 'BLK', 'TOV', 'PF', 'PTS', '+/-']

In [176]:
game_data = [[td.getText() for td in vis_rows[i].findAll('td')] for i in range(2, 7)]
away_names = [[td.getText() for td in vis_rows[i].findAll('a')] for i in range(2, 7)]

In [179]:
# print(away_names)
# print(game_data)
for i in range(len(game_data)):
    game_data[i] = away_names[i] + game_data[i]
# print(game_data)

[['LeBron James', '43:35', '9', '22', '.409', '0', '5', '.000', '6', '10', '.600', '2', '10', '12', '6', '2', '1', '1', '2', '24', '-1'], ['J.R. Smith', '42:06', '7', '14', '.500', '4', '7', '.571', '1', '2', '.500', '0', '3', '3', '0', '2', '0', '2', '2', '19', '+7'], ['Kevin Love', '41:48', '7', '15', '.467', '2', '5', '.400', '3', '4', '.750', '0', '8', '8', '2', '2', '2', '2', '4', '19', '+1'], ['Kyrie Irving', '40:59', '10', '20', '.500', '1', '4', '.250', '4', '4', '1.000', '0', '3', '3', '7', '0', '0', '3', '2', '25', '-3'], ['Tristan Thompson', '40:55', '7', '7', '1.000', '0', '0', '', '0', '1', '.000', '7', '5', '12', '0', '0', '0', '3', '3', '14', '+5']]

In [180]:
print(game_data)
print(len(game_data))

[['LeBron James', '43:35', '9', '22', '.409', '0', '5', '.000', '6', '10', '.600', '2', '10', '12', '6', '2', '1', '1', '2', '24', '-1'], ['J.R. Smith', '42:06', '7', '14', '.500', '4', '7', '.571', '1', '2', '.500', '0', '3', '3', '0', '2', '0', '2', '2', '19', '+7'], ['Kevin Love', '41:48', '7', '15', '.467', '2', '5', '.400', '3', '4', '.750', '0', '8', '8', '2', '2', '2', '2', '4', '19', '+1'], ['Kyrie Irving', '40:59', '10', '20', '.500', '1', '4', '.250', '4', '4', '1.000', '0', '3', '3', '7', '0', '0', '3', '2', '25', '-3'], ['Tristan Thompson', '40:55', '7', '7', '1.000', '0', '0', '', '0', '1', '.000', '7', '5', '12', '0', '0', '0', '3', '3', '14', '+5']]
5

In [181]:
home_rows = home.findAll('tr')
game_data_home = [[td.getText() for td in home_rows[i].findAll('td')] for i in range(2, 7)]
home_names = [[td.getText() for td in home_rows[i].findAll('a')] for i in range(2, 7)]
for i in range(len(game_data_home)):
    game_data_home[i] = home_names[i] + game_data_home[i]

In [182]:
print(game_data_home)
print(len(game_data_home))

[['Monta Ellis', '41:01', '5', '18', '.278', '1', '8', '.125', '3', '4', '.750', '0', '2', '2', '5', '2', '0', '6', '4', '14', '-7'], ['Paul George', '39:52', '3', '15', '.200', '1', '5', '.200', '4', '4', '1.000', '1', '4', '5', '8', '2', '0', '5', '4', '11', '-8'], ['George Hill', '38:57', '9', '16', '.563', '4', '8', '.500', '1', '1', '1.000', '1', '4', '5', '4', '2', '0', '0', '2', '23', '-8'], ['Myles Turner', '36:30', '7', '16', '.438', '0', '0', '', '0', '0', '', '6', '4', '10', '0', '1', '4', '0', '5', '14', '-3'], ['Jordan Hill', '36:03', '8', '13', '.615', '0', '0', '', '1', '1', '1.000', '3', '3', '6', '4', '1', '1', '2', '1', '17', '-4']]
5

In [195]:
# df_home = pd.DataFrame(game_data_home, columns=headers)
# headers = headers
print(len(headers))

21

In [196]:
print(len(game_data_home[0]))
print(len(game_data[0]))

21
21

In [197]:
print(headers)
print(game_data_home[0])

['Name', 'MP', 'FG', 'FGA', 'FG%', '3P', '3PA', '3P%', 'FT', 'FTA', 'FT%', 'ORB', 'DRB', 'TRB', 'AST', 'STL', 'BLK', 'TOV', 'PF', 'PTS', '+/-']
['Monta Ellis', '41:01', '5', '18', '.278', '1', '8', '.125', '3', '4', '.750', '0', '2', '2', '5', '2', '0', '6', '4', '14', '-7']

In [198]:
df_home = pd.DataFrame(game_data_home, columns=headers, index=None)
df_away = pd.DataFrame(game_data, columns=headers, index=None)

In [199]:
df_home.head()

,Name,MP,FG,FGA,FG%,3P,3PA,3P%,FT,FTA,...,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS,+/-
0,Monta Ellis,41:01,5,18,.278,1,8,.125,3,4,...,0,2,2,5,2,0,6,4,14,-7
1,Paul George,39:52,3,15,.200,1,5,.200,4,4,...,1,4,5,8,2,0,5,4,11,-8
2,George Hill,38:57,9,16,.563,4,8,.500,1,1,...,1,4,5,4,2,0,0,2,23,-8
3,Myles Turner,36:30,7,16,.438,0,0,,0,0,...,6,4,10,0,1,4,0,5,14,-3
4,Jordan Hill,36:03,8,13,.615,0,0,,1,1,...,3,3,6,4,1,1,2,1,17,-4

In [200]:
df_away.head()

,Name,MP,FG,FGA,FG%,3P,3PA,3P%,FT,FTA,...,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS,+/-
0,LeBron James,43:35,9,22,.409,0,5,.000,6,10,...,2,10,12,6,2,1,1,2,24,-1
1,J.R. Smith,42:06,7,14,.500,4,7,.571,1,2,...,0,3,3,0,2,0,2,2,19,+7
2,Kevin Love,41:48,7,15,.467,2,5,.400,3,4,...,0,8,8,2,2,2,2,4,19,+1
3,Kyrie Irving,40:59,10,20,.500,1,4,.250,4,4,...,0,3,3,7,0,0,3,2,25,-3
4,Tristan Thompson,40:55,7,7,1.000,0,0,,0,1,...,7,5,12,0,0,0,3,3,14,+5